@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    text-align: center;
    background-image: linear-gradient(to right, #bfb6f8, #9b8df5);
    font-family: Merriweather, sans-serif;
   }

a{
    text-decoration: none;
    color: #191970;
}

#name{
    font-size: 40px;
    border: solid black 3px;
    padding: 5px;
    display: inline;
    margin: 0;
    text-transform: uppercase;
}

.title {
    font-family: Libre Baskerville, sans-serif;
}

.subtitle{
    text-transform: capitalize;
}

.contatos{
    display: inline;
}