@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
    text-align: center;
    background-image: linear-gradient(to right, #bfb6f8, #9b8df5);
    font-family: Merriweather, sans-serif;
}

main {
    background-color: white;
    border-radius: 1em;
    box-shadow: 2px 2px 5px#756abdf1;
    width: 50em;
    height: 44em;
    margin: auto;
}

a {
    text-decoration: none;
    color: #191970;
}

#name {
    font-size: 40px;
    display: inline;
    text-transform: uppercase;
}

.title {
    font-family: Libre Baskerville, sans-serif;
}

.subtitle {
    text-transform: capitalize;
}

.contatos {
    display: inline;
    text-align: center;
    list-style: none;
}